
    <div class="d-flex align-items-center" style="width: 450px;">
      <div class="input-group" >
        <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Type anything to search whatever you look for">
      </div>
    </div>